.tc-tiddler-controls .tc-image-delete-button {
fill:#ebb; /#f22*/
}
.tc-tiddler-controls .tc-image-cancel-button {
fill:#ed9; /*#fd5*/
}
.tc-tiddler-controls .tc-image-done-button {
fill:#9e2; /*#beb*/
}